<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fedtech.pension.call.mapper.CustomerGroupMapper">

    <resultMap id="BaseResultMap" type="com.fedtech.pension.call.entity.CustomerGroup">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="fax" property="fax" jdbcType="VARCHAR"/>
        <result column="zip" property="zip" jdbcType="VARCHAR"/>
        <result column="addr" property="addr" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="street" property="street" jdbcType="VARCHAR"/>
        <result column="community" property="community" jdbcType="VARCHAR"/>
        <result column="contactName" property="contactName" jdbcType="VARCHAR"/>
        <result column="contactPhone" property="contactPhone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, type, tel, fax, zip, addr, province, city, area, street, community,contactName,contactPhone
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from c_customer_group
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from c_customer_group
        where name = #{name,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from c_customer_group
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.fedtech.pension.call.entity.CustomerGroup">
        insert into c_customer_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="fax != null">
                fax,
            </if>
            <if test="zip != null">
                zip,
            </if>
            <if test="addr != null">
                addr,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="street != null">
                street,
            </if>
            <if test="community != null">
                community,
            </if>
            <if test="contactName != null">
                contactName,
            </if>
            <if test="contactPhone != null">
                contactPhone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                #{fax,jdbcType=VARCHAR},
            </if>
            <if test="zip != null">
                #{zip,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                #{addr,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="street != null">
                #{street,jdbcType=VARCHAR},
            </if>
            <if test="community != null">
                #{community,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                #{contactName},
            </if>
            <if test="contactPhone != null">
                #{contactPhone},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.fedtech.pension.call.entity.CustomerGroup">
        update c_customer_group
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                fax = #{fax,jdbcType=VARCHAR},
            </if>
            <if test="zip != null">
                zip = #{zip,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                addr = #{addr,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="street != null">
                street = #{street,jdbcType=VARCHAR},
            </if>
            <if test="community != null">
                community = #{community,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                contactName = #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                contactPhone = #{contactPhone,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="count" parameterType="com.fedtech.pension.call.entity.CustomerGroup" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM c_customer_group
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM c_customer_group
    </select>

    <select id="selectPageList" resultType="com.fedtech.pension.call.vo.CustomerGroupVo">
        SELECT
        id,name,
        (select count(id) from c_customer_link_group where groupId=c_customer_group.id)
        customerCount,contactName,contactPhone
        FROM
        c_customer_group
        <if test="page.orderField!=null">
            ORDER BY ${page.orderField} ${page.orderDir}
        </if>
        <if test="page.start!=null">
            LIMIT #{page.start},#{page.length}
        </if>
    </select>

</mapper>