<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fedtech.pension.call.mapper.KnowledgeTypeMapper">

    <resultMap id="knowledgeType" type="com.fedtech.pension.call.entity.KnowledgeType">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="creatorId" property="creatorId" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name,creatorId,createTime
    </sql>

    <select id="selectByPrimaryKey" resultMap="knowledgeType" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_knowledge_type
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getAllRecode" resultMap="knowledgeType" parameterType="com.fedtech.pension.call.entity.KnowledgeType">
        select
        <include refid="Base_Column_List"/>
        from t_knowledge_type
    </select>

    <select id="selectPageList" resultType="com.fedtech.pension.call.entity.KnowledgeType">
        select
        <include refid="Base_Column_List"/>
        from t_knowledge_type
        where 1=1
        ORDER BY id desc
        <if test="page.start!=null">
            LIMIT #{page.start}, #{page.length}
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer">
      select count(*) from t_knowledge_type
        where 1=1
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        select count(*) from t_knowledge_type
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_knowledge_type
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.fedtech.pension.call.entity.KnowledgeType">
        insert into t_knowledge_type ( name,creatorId,createTime)
        values ( #{name},#{creatorId},#{createTime})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.fedtech.pension.call.entity.KnowledgeType">
        update t_knowledge_type
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>