<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fedtech.pension.elderly.mapper.ElderlyGovbuyApplyDocMapper" >
  <resultMap id="BaseResultMap" type="com.fedtech.pension.elderly.entity.ElderlyGovbuyApplyDoc" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="applyId" property="applyId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="typeName" property="typeName" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, applyId, type, typeName, content, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_elderly_govbuy_apply_doc
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_elderly_govbuy_apply_doc
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fedtech.pension.elderly.entity.ElderlyGovbuyApplyDoc" >
    insert into t_elderly_govbuy_apply_doc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        applyId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="typeName != null" >
        typeName,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fedtech.pension.elderly.entity.ElderlyGovbuyApplyDoc" >
    update t_elderly_govbuy_apply_doc
    <set >
      <if test="applyId != null" >
        applyId = #{applyId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        typeName = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllRecode" resultMap="BaseResultMap" parameterType="com.fedtech.pension.elderly.entity.ElderlyGovbuyApplyDoc" >
    select
    <include refid="Base_Column_List" />
    from t_elderly_govbuy_apply_doc
    <where>
      <if test="filter!=null">
        applyId = #{filter.applyId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>