<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fedtech.pension.nurse.mapper.SerumUricAcidMapper">
  <resultMap id="BaseResultMap" type="com.fedtech.pension.nurse.entity.SerumUricAcid">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bua_value" jdbcType="INTEGER" property="buaValue" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="level_name" jdbcType="VARCHAR" property="levelName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, bua_value, level, level_name
  </sql>


  <insert id="insert" parameterType="com.fedtech.pension.nurse.entity.SerumUricAcid" useGeneratedKeys="true"
          keyProperty="id">
    insert into serum_uric_acid
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="buaValue != null">
        bua_value,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="levelName != null">
        level_name,
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="buaValue != null">
        #{buaValue,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="levelName != null">
        #{levelName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.fedtech.pension.nurse.entity.SerumUricAcid">
    update serum_uric_acid
    <set>
      <if test="buaValue != null">
        bua_value = #{buaValue,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="levelName != null">
        level_name = #{levelName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectPageList" resultType="com.fedtech.pension.nurse.entity.SerumUricAcid">
    select
    id, bua_value, level, level_name
    from serum_uric_acid
    <where>
      <if test="filter.buaValue!=null ">
        bua_value = #{filter.buaValue}
      </if>
      <if test="filter.level!=null">
        and level = #{filter.level}
      </if>
      <if test="filter.levelName!=null and filter.levelName!=''">
        and level_name like CONCAT('%',#{filter.levelName},'%' )
      </if>
    </where>
    <if test="page.start!=null">
      LIMIT #{page.start}, #{page.length}
    </if>
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(*) from serum_uric_acid
    <where>
      <if test="buaValue!=null ">
        bua_value = #{buaValue}
      </if>
      <if test="level!=null ">
        and level = #{level}
      </if>
      <if test="levelName!=null and levelName!=''">
        and level_name like CONCAT('%',#{levelName},'%' )
      </if>
    </where>
  </select>

  <select id="countAll" resultType="java.lang.Integer">
    select count(*) from serum_uric_acid
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from serum_uric_acid
    where id = #{id,jdbcType=INTEGER}
  </delete>
</mapper>