<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fedtech.pension.org.mapper.NursingHomeServiceCheckMapper">
    <resultMap id="BaseResultMap" type="com.fedtech.pension.org.entity.NursingHomeServiceCheck" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="serviceOrgId" property="serviceOrgId" jdbcType="INTEGER" />
        <result column="checkId" property="checkId" jdbcType="INTEGER" />
        <result column="fileUrl" property="fileUrl" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, serviceOrgId, checkId, fileUrl, createTime, updateTime
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_nursing_home_service_check
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_nursing_home_service_check
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.fedtech.pension.org.entity.NursingHomeServiceCheck" >
        insert into t_nursing_home_service_check (id, serviceOrgId, checkId,
        fileUrl, createTime, updateTime
        )
        values (#{id,jdbcType=INTEGER}, #{serviceOrgId,jdbcType=INTEGER}, #{checkId,jdbcType=INTEGER},
        #{fileUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.fedtech.pension.org.entity.NursingHomeServiceCheck" >
        insert into t_nursing_home_service_check
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="serviceOrgId != null" >
                serviceOrgId,
            </if>
            <if test="checkId != null" >
                checkId,
            </if>
            <if test="fileUrl != null" >
                fileUrl,
            </if>
            <if test="createTime != null" >
                createTime,
            </if>
            <if test="updateTime != null" >
                updateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="serviceOrgId != null" >
                #{serviceOrgId,jdbcType=INTEGER},
            </if>
            <if test="checkId != null" >
                #{checkId,jdbcType=INTEGER},
            </if>
            <if test="fileUrl != null" >
                #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fedtech.pension.org.entity.NursingHomeServiceCheck" >
        update t_nursing_home_service_check
        <set >
            <if test="serviceOrgId != null" >
                serviceOrgId = #{serviceOrgId,jdbcType=INTEGER},
            </if>
            <if test="checkId != null" >
                checkId = #{checkId,jdbcType=INTEGER},
            </if>
            <if test="fileUrl != null" >
                fileUrl = #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                updateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fedtech.pension.org.entity.NursingHomeServiceCheck" >
    update t_nursing_home_service_check
    set serviceOrgId = #{serviceOrgId,jdbcType=INTEGER},
      checkId = #{checkId,jdbcType=INTEGER},
      fileUrl = #{fileUrl,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getRecodeDetail" resultMap="BaseResultMap" parameterType="com.fedtech.pension.org.entity.NursingHomeServiceCheck" >
        select
        <include refid="Base_Column_List" />
        from t_nursing_home_service_check
        where serviceOrgId = #{serviceOrgId,jdbcType=INTEGER}
        AND checkId = #{checkId,jdbcType=INTEGER}
    </select>
</mapper>