<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fedtech.pension.org.mapper.ServiceOrgRoutineCheckMapper" >
    <resultMap id="BaseResultMap" type="com.fedtech.pension.org.entity.ServiceOrgRoutineCheck" >
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="service_org_id" jdbcType="INTEGER" property="serviceOrg.id"/>
        <result column="check_time" jdbcType="VARCHAR" property="checkTime" />
        <result column="person" jdbcType="VARCHAR" property="person" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="problem" jdbcType="VARCHAR" property="problem" />
        <result column="reform_opinion" jdbcType="VARCHAR" property="reformOpinion" />
        <result column="reform_time" jdbcType="VARCHAR" property="reformTime"/>
        <result column="attach" jdbcType="VARCHAR" property="attach"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>

    </resultMap>
    <sql id="Base_Column_List" >
        id,service_org_id,check_time,person,unit,content,problem,reform_opinion,
        reform_time,attach,remark
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_service_org_routine_check
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_service_org_routine_check
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.fedtech.pension.org.entity.ServiceOrgRoutineCheck" >
        insert into t_service_org_routine_check (id, check_time,person,unit,content,problem,reform_opinion,
        reform_time,attach,remark,service_org_id)
        values (#{id,jdbcType=INTEGER}, #{checkTime,jdbcType=VARCHAR},#{person,jdbcType=VARCHAR},
        #{unit,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{problem,jdbcType=VARCHAR},
        #{reformOpinion,jdbcType=VARCHAR},#{reformTime,jdbcType=VARCHAR},#{attach,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},#{serviceOrg.id,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSome" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO t_service_org_routine_check
        (check_time,person,unit,content,problem,reform_opinion,reform_time,attach,remark,service_org_id)
        VALUES
        <foreach collection="routineChecks" item="routineCheck" index="index" separator=",">
            (#{routineCheck.checkTime},#{routineCheck.person},#{routineCheck.unit},#{routineCheck.content},#{routineCheck.problem},
            #{routineCheck.reformOpinion},#{routineCheck.reformTime},#{routineCheck.attach},#{routineCheck.remark},#{routineCheck.serviceOrg.id})
        </foreach>
    </insert>
    <insert id="insertSelective" parameterType="com.fedtech.pension.org.entity.ServiceOrgRoutineCheck" >
        insert into t_service_org_routine_check
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="check_time != null">
                check_time,
            </if>
            <if test="person != null">
                person,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="problem != null">
                problem,
            </if>
            <if test="reform_opinion != null">
                reform_opinion,
            </if>
            <if test="reform_time != null">
                reform_time,
            </if>
            <if test="attach != null">
                attach,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="service_org_id != null">
                service_org_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="checkTime != null">
                #{checkTime,jdbcType=VARCHAR},
            </if>
            <if test="person != null">
                #{person,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="problem != null">
                #{problem,jdbcType=VARCHAR},
            </if>
            <if test="reformOpinion != null">
                #{reformOpinion,jdbcType=VARCHAR},
            </if>
            <if test="reformTime != null">
                #{reformTime,jdbcType=VARCHAR},
            </if>
            <if test="attach != null">
                #{attach,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="serviceOrg.id != null">
                #{serviceOrg.id,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fedtech.pension.org.entity.ServiceOrgRoutineCheck" >
        update t_service_org_routine_check
        <set>
            <if test="checkTime != null">
                check_time = #{checkTime,jdbcType=VARCHAR},
            </if>
            <if test="person != null">
                person = #{person,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="problem != null">
                problem = #{problem,jdbcType=VARCHAR},
            </if>
            <if test="reformOpinion != null">
                reform_opinion = #{reformOpinion,jdbcType=VARCHAR},
            </if>
            <if test="reformTime != null">
                reform_time = #{reformTime,jdbcType=VARCHAR},
            </if>
            <if test="attach != null">
                attach = #{attach,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="serviceOrg.id != null">
                service_org_id = #{serviceOrg.id,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        from t_service_org_routine_check
        <where>
            <if test="checkTime != null and checkTime !=''">
                AND check_time like CONCAT('%',#{checkTime},'%')
            </if>
            <if test="person != null and person !=''">
                AND person like CONCAT('%',#{person},'%' )
            </if>
            <if test="unit != null and unit !=''">
                AND unit like CONCAT('%',#{unit},'%' )
            </if>
            <if test="content!=null and content!=''">
                and content like CONCAT('%',#{content},'%' )
            </if>
            <if test="problem!=null and problem!=''">
                and problem like CONCAT('%',#{problem},'%' )
            </if>
            <if test="reformOpinion!=null and reformOpinion!=''">
                and reform_opinion like CONCAT('%',#{reformOpinion},'%' )
            </if>
            <if test="reformTime != null and reformTime !=''">
                AND reform_time like CONCAT('%',#{reformTime},'%' )
            </if>
            <if test="attach != null and attach !=''">
                AND attach like CONCAT('%',#{attach},'%' )
            </if>
            <if test="remark != null and remark !=''">
                AND remark like CONCAT('%',#{remark},'%' )
            </if>
            <if test="serviceOrg.id != null and serviceOrg.id !=''">
                AND service_org_id like CONCAT('%',#{serviceOrg.id},'%' )
            </if>
        </where>
    </select>
    <select id="countAll" resultType="java.lang.Integer">
        SELECT  COUNT (*)
        from t_service_org_routine_check
    </select>
    <select id="selectPageList" resultType="com.fedtech.pension.org.entity.ServiceOrgRoutineCheck">
        select
        *
        from t_service_org_routine_check
        <where>
            <if test="filter.checkTime != null and filter.checkTime !=''">
                AND check_time like CONCAT('%',#{filter.checkTime},'%' )
            </if>
            <if test="filter.person != null and filter.person !=''">
                AND person like CONCAT('%',#{filter.person},'%' )
            </if>
            <if test="filter.unit != null and filter.unit !=''">
                AND unit like CONCAT('%',#{filter.unit},'%' )
            </if>
            <if test="filter.content!=null and filter.content!=''">
                and content like CONCAT('%',#{filter.content},'%' )
            </if>
            <if test="filter.problem!=null and filter.problem!=''">
                and problem like CONCAT('%',#{filter.problem},'%' )
            </if>
            <if test="filter.reformOpinion != null and filter.reformOpinion !=''">
                AND reform_opinion like CONCAT('%',#{filter.reformOpinion},'%' )
            </if>
            <if test="filter.reformTime != null and filter.reformTime !=''">
                AND reform_time like CONCAT('%',#{filter.reformTime},'%' )
            </if>
            <if test="filter.attach != null and filter.attach !=''">
                AND attach like CONCAT('%',#{filter.attach},'%' )
            </if>
            <if test="filter.remark != null and filter.remark !=''">
                AND remark like CONCAT('%',#{filter.remark},'%' )
            </if>
            <if test="filter.serviceOrg.id != null and filter.serviceOrg.id !=''">
                AND service_org_id like CONCAT('%',#{filter.serviceOrg.id},'%' )
            </if>
        </where>
        <if test="page.start!=null">
            LIMIT #{page.start}, #{page.length}
        </if>
    </select>

    <update id="updateByPrimaryKey" parameterType="com.fedtech.pension.org.entity.ServiceOrgRoutineCheck" >
        update t_service_org_routine_check
        set check_time = #{checkTime,jdbcType=VARCHAR},
        person = #{person,jdbcType=VARCHAR},
        unit = #{unit,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        problem = #{problem,jdbcType=VARCHAR},
        reform_opinion = #{reformOpinion,jdbcType=VARCHAR},
        reform_time = #{reformTime,jdbcType=VARCHAR},
        attach = #{attach,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},service_org_id = #{serviceOrg.id,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteSomeMsg" parameterType="java.util.List">
        delete from t_service_org_routine_check
        where id IN
        <foreach collection="idList" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>