<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fedtech.pension.org.mapper.ServiceOrgTowerCourtyardInformationMapper">
  <resultMap id="BaseResultMap" type="com.fedtech.pension.org.entity.ServiceOrgTowerCourtyardInformation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tower_courtyard_num" jdbcType="VARCHAR" property="towerCourtyardNum" />
    <result column="kickafk" jdbcType="INTEGER" property="kickafk" />
    <result column="rooms" jdbcType="INTEGER" property="rooms" />
    <result column="bed_num" jdbcType="INTEGER" property="bedNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="service_org_id" jdbcType="INTEGER" property="ServiceOrgId" />
  </resultMap>

  <sql id="Base_Column_List">
    id, tower_courtyard_num, kickafk, rooms, bed_num, remark,service_org_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_service_org_tower_courtyard_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_service_org_tower_courtyard_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fedtech.pension.org.entity.ServiceOrgTowerCourtyardInformation" useGeneratedKeys="true"  keyProperty="id">
    insert into t_service_org_tower_courtyard_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="towerCourtyardNum != null">
        tower_courtyard_num,
      </if>
      <if test="kickafk != null">
        kickafk,
      </if>
      <if test="rooms != null">
        rooms,
      </if>
      <if test="bedNum != null">
        bed_num,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="ServiceOrgId != null">
        service_org_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="towerCourtyardNum != null">
        #{towerCourtyardNum,jdbcType=VARCHAR},
      </if>
      <if test="kickafk != null">
        #{kickafk,jdbcType=INTEGER},
      </if>
      <if test="rooms != null">
        #{rooms,jdbcType=INTEGER},
      </if>
      <if test="bedNum != null">
        #{bedNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ServiceOrgId != null">
        #{ServiceOrgId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fedtech.pension.org.entity.ServiceOrgTowerCourtyardInformation">
    update t_service_org_tower_courtyard_information
    <set>
      <if test="towerCourtyardNum != null">
        tower_courtyard_num = #{towerCourtyardNum,jdbcType=VARCHAR},
      </if>
      <if test="kickafk != null">
        kickafk = #{kickafk,jdbcType=INTEGER},
      </if>
      <if test="rooms != null">
        rooms = #{rooms,jdbcType=INTEGER},
      </if>
      <if test="bedNum != null">
        bed_num = #{bedNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ServiceOrgId != null">
        service_org_id = #{ServiceOrgId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="countAll" resultType="java.lang.Integer">
    SELECT  COUNT (*)
    from t_service_org_tower_courtyard_information
  </select>
  <select id="selectPageList" resultType="com.fedtech.pension.org.entity.ServiceOrgTowerCourtyardInformation">
    select
    *
    from t_service_org_tower_courtyard_information
    <where>
      <if test="filter.towerCourtyardNum != null and filter.towerCourtyardNum !=''">
        AND tower_courtyard_num like CONCAT('%',#{filter.towerCourtyardNum},'%' )
      </if>
      <if test="filter.kickafk!=null">
        and kickafk=#{filter.kickafk}
      </if>
      <if test="filter.rooms!=null">
        and rooms=#{filter.rooms}
      </if>
      <if test="filter.bedNum!=null">
        and bed_num=#{filter.bedNum}
      </if>
      <if test="filter.remark != null and filter.remark !=''">
        AND remark like CONCAT('%',#{filter.remark},'%' )
      </if>
      <if test="filter.ServiceOrgId!=null">
        and service_org_id=#{filter.ServiceOrgId}
      </if>
    </where>
    <if test="page.start!=null">
      LIMIT #{page.start}, #{page.length}
    </if>
  </select>
  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(*)
    from t_service_org_tower_courtyard_information
    <where>
      <if test="towerCourtyardNum != null and towerCourtyardNum !=''">
        AND tower_courtyard_num like CONCAT('%',#{towerCourtyardNum},'%' )
      </if>
      <if test="kickafk!=null">
        and kickafk=#{kickafk}
      </if>
      <if test="rooms!=null">
        and rooms=#{rooms}
      </if>
      <if test="bedNum!=null">
        and bed_num=#{bedNum}
      </if>
      <if test="remark != null and remark !=''">
        AND remark like CONCAT('%',#{remark},'%' )
      </if>
      <if test="ServiceOrgId!=null">
        and service_org_id=#{ServiceOrgId}
      </if>
    </where>
  </select>
  <select id="selectByTowerCourtyardNum" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    *
    from t_service_org_tower_courtyard_information
    where tower_courtyard_num = #{towerCourtyardNum,jdbcType=VARCHAR}
  </select>

  <select id="selectByServiceOrgId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    *
    from t_service_org_tower_courtyard_information
    where service_org_id = #{serviceOrgId,jdbcType=INTEGER}
  </select>

    <select id="selectByTowerCourtyardNumAndServiceOrgId" resultMap="BaseResultMap" >
    select
    *
    from t_service_org_tower_courtyard_information
    where tower_courtyard_num = #{towerCourtyardNum,jdbcType=VARCHAR}
    AND
    service_org_id = #{serviceOrgId,jdbcType=INTEGER}
  </select>

</mapper>