<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fedtech.pension.org.mapper.UserFuWuQuitMapper">
  <resultMap id="BaseResultMap" type="com.fedtech.pension.org.entity.UserFuWuQuit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="serviceOrgId" jdbcType="INTEGER" property="serviceOrgId" />
    <result column="idcardno" jdbcType="VARCHAR" property="idcardno" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="quitTime" jdbcType="VARCHAR" property="quitTime" />
    <result column="quitReason" jdbcType="VARCHAR" property="quitReason" />
    <result column="quitContext" jdbcType="VARCHAR" property="quitContext" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
  </resultMap>

  <sql id="Base_Column_List">
    id, serviceOrgId, idcardno, name, quitTime, quitReason, quitContext, isOpen, userType, gender
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_fuwu_quit
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_fuwu_quit
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.fedtech.pension.org.entity.UserFuWuQuit" useGeneratedKeys="true"
          keyProperty="id">
    insert into t_user_fuwu_quit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serviceOrgId != null">
        serviceOrgId,
      </if>
      <if test="idcardno != null">
        idcardno,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="quitTime != null">
        quitTime,
      </if>
      <if test="quitReason != null">
        quitReason,
      </if>
      <if test="quitContext != null">
        quitContext,
      </if>
      <if test="isOpen != null">
        isOpen,
      </if>
      <if test="userType != null">
        userType,
      </if>
      <if test="gender != null">
        gender,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviceOrgId != null">
        #{serviceOrgId,jdbcType=INTEGER},
      </if>
      <if test="idcardno != null">
        #{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="quitTime != null">
        #{quitTime,jdbcType=VARCHAR},
      </if>
      <if test="quitReason != null">
        #{quitReason,jdbcType=VARCHAR},
      </if>
      <if test="quitContext != null">
        #{quitContext,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null">
        #{isOpen,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.fedtech.pension.org.entity.UserFuWuQuit">
    update t_user_fuwu_quit
    <set>
      <if test="serviceOrgId != null">
        serviceOrgId=#{serviceOrgId,jdbcType=INTEGER},
      </if>
      <if test="idcardno != null">
        idcardno=#{idcardno,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name=#{name,jdbcType=VARCHAR},
      </if>
      <if test="quitTime != null">
        quitTime=#{quitTime,jdbcType=VARCHAR},
      </if>
      <if test="quitReason != null">
        quitReason=#{quitReason,jdbcType=VARCHAR},
      </if>
      <if test="quitContext != null">
        quitContext=#{quitContext,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null">
        isOpen=#{isOpen,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        userType=#{userType,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender=#{gender,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(*)
    from t_user_fuwu_quit
    <where>
      <if test="serviceOrgId != null and serviceOrgId !=''">
        AND serviceOrgId like CONCAT('%',#{serviceOrgId},'%' )
      </if>
      <if test="idcardno != null and idcardno !=''">
        AND idcardno like CONCAT('%',#{idcardno},'%' )
      </if>
      <if test="name != null and name !=''">
        AND name like CONCAT('%',#{name},'%' )
      </if>
      <if test="quitTime != null and quitTime !=''">
        AND quitTime like CONCAT('%',#{quitTime},'%' )
      </if>
      <if test="quitReason != null and quitReason !=''">
        AND quitReason like CONCAT('%',#{quitReason},'%' )
      </if>
      <if test="quitContext != null and quitContext !=''">
        AND quitContext like CONCAT('%',#{quitContext},'%' )
      </if>
      <if test="isOpen != null and isOpen !=''">
        AND isOpen like CONCAT('%',#{isOpen},'%' )
      </if>
      <if test="userType != null and userType !=''">
        AND userType like CONCAT('%',#{userType},'%' )
      </if>
      <if test="gender != null and gender !=''">
        AND gender like CONCAT('%',#{gender},'%' )
      </if>
    </where>
  </select>

  <select id="countAll" resultType="java.lang.Integer">
    SELECT  COUNT (*)
    from t_user_fuwu_quit
  </select>

  <select id="selectPageList" resultType="com.fedtech.pension.org.entity.UserFuWuQuit">
    select
      *
    from t_user_fuwu_quit
    <where>
      <if test="filter.serviceOrgId != null and filter.serviceOrgId !=''">
        AND serviceOrgId like CONCAT('%',#{filter.serviceOrgId},'%' )
      </if>
      <if test="filter.idcardno != null and filter.idcardno !=''">
        AND idcardno like CONCAT('%',#{filter.idcardno},'%' )
      </if>
      <if test="filter.name != null and filter.name !=''">
        AND name like CONCAT('%',#{filter.name},'%' )
      </if>
      <if test="filter.quitTime != null and filter.quitTime !=''">
        AND quitTime like CONCAT('%',#{filter.quitTime},'%' )
      </if>
      <if test="filter.quitReason != null and filter.quitReason !=''">
        AND quitReason like CONCAT('%',#{filter.quitReason},'%' )
      </if>
      <if test="filter.quitContext != null and filter.quitContext !=''">
        AND quitContext like CONCAT('%',#{filter.quitContext},'%' )
      </if>
      <if test="filter.isOpen != null and filter.isOpen !=''">
        AND isOpen like CONCAT('%',#{filter.isOpen},'%' )
      </if>
      <if test="filter.userType != null and filter.userType !=''">
        AND userType like CONCAT('%',#{filter.userType},'%' )
      </if>
      <if test="filter.gender != null and filter.gender !=''">
        AND gender like CONCAT('%',#{filter.gender},'%' )
      </if>
    </where>
    <if test="page.start!=null">
      LIMIT #{page.start}, #{page.length}
    </if>
  </select>

  <select id="getAllRecode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_user_fuwu_quit
  </select>

  <delete id="deleteSomeMsg" parameterType="java.util.List">
    delete from t_user_fuwu_quit
    where id IN
    <foreach collection="idList" index="index" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>

  </delete>

</mapper>