<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fedtech.pension.sys.mapper.ServiceTypeMapper">

    <resultMap id="BaseResultMap" type="com.fedtech.pension.sys.entity.ServiceType">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, status
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_service_type
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_service_type
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.fedtech.pension.sys.entity.ServiceType">
        insert into t_service_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.fedtech.pension.sys.entity.ServiceType">
        update t_service_type
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        from t_service_type
        <where>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="name != null  and areaName!=''">
                AND name like CONCAT('%',#{name},'%' )
            </if>
        </where>
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        SELECT  COUNT (*)
        from t_service_type
    </select>

    <select id="selectPageList" resultType="com.fedtech.pension.sys.entity.ServiceType">
        select
        <include refid="Base_Column_List"/>
        from t_service_type
        <where>
            <if test="filter.status != null">
                status = #{filter.status}
            </if>
            <if test="filter.name != null  and filter.areaName!=''">
                AND name like CONCAT('%',#{filter.name},'%' )
            </if>
        </where>
        <if test="page.orderField!=null">
            ORDER BY ${page.orderField} ${page.orderDir}
        </if>
        <if test="page.start!=null">
            LIMIT #{page.start},#{page.length}
        </if>
    </select>

    <select id="getAllRecode" resultType="com.fedtech.pension.sys.entity.ServiceType">
        select
        <include refid="Base_Column_List"/>
        from t_service_type
        <where>
            <if test="filter.status != null">
                status = #{filter.status}
            </if>
            <if test="filter.name != null  and filter.areaName!=''">
                AND name like CONCAT('%',#{filter.name},'%' )
            </if>
        </where>
    </select>

    <select id="getTypeByIds" resultType="com.fedtech.pension.sys.entity.ServiceType">
        select
        <include refid="Base_Column_List"/>
        from t_service_type
        where id in (${ids})
    </select>

</mapper>